@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

padding: 0;
margin: 0;

}




body {
    margin: 0;
    padding: 0;
      background: url('images/welcome-banner.jpg') no-repeat center center  fixed ;
      background-size: cover;
      
    }
    
    .form-container {
      background:rgba(255, 255, 255, 0.85);
      width: 350px;
      padding: 30px;
      border-radius: 12px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    }
    
    input, textarea {
      width: 90%;
      padding: 10px;
      margin: 10px;
      font-size: 15px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    textarea {
      height: 100px;
      resize: none;
    }
    
    button {
      width: 95%;
      padding: 10px;
      background-color: rgb(164, 6, 30);
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition:  0.5s ease;
    }
    
    button:hover {
      transform: scale(1.05);
      background-color:rgb(164, 6, 30);
    }