@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;

  background: url('images/featured-cars/welcome-banner.jpg') no-repeat center center  fixed ;
      background-size: cover;
}

.container {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 850px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.left,.right {
  flex: 1;
  min-width: 250px;
}

input,select {
  width: 100%;
  padding: 12px;
  background: #eee;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

label span {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 12px;
  background-color: rgb(164, 6, 30);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s ease;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.05);
}


#error {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
  }
